body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #000000;
  box-shadow: 2px 10px 10px rgb(49, 48, 48);
  border-radius: 10px;
  padding: 20px;
}

#menu button {
  width: 100px;
  height: 35px;
  margin: 10px;

  background-color: #344269;

  border: 3px solid #fff;
  border-radius: 5px;

  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

#score {
  position: absolute;
  width: 40px;
  height: 16px;

  padding: 12px;

  top: 20px;
  right: 80px;

  border: 3px solid #fff;
  border-radius: 15px;

  background-color: #000000;
  box-shadow: 2px 10px 5px #888;

  font-size: 14px;
  font-weight: bold;
  color: #fff;

  text-align: right;

  display: none;
}
